/**
 * Phone.com API
 * This is a Phone.com api Swagger definition
 *
 * OpenAPI spec version: 1.0.0
 * Contact: apisupport@phone.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiInvoker;
import io.swagger.client.ApiException;
import io.swagger.client.Pair;

import io.swagger.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import io.swagger.client.model.CreatePricingParams;
import io.swagger.client.model.DeleteEntry;
import io.swagger.client.model.ListPricings;
import io.swagger.client.model.PricingFull;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class SubaccountpricingApi {
  String basePath = "https://api.phone.com/v4";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Add a pricing plan to a subaccount.
  * Add a pricing plan to a subaccount. See Account Subaccount Pricing for more info on the properties.
   * @param accountId Account ID
   * @param subaccountId Subaccount ID
   * @param data Subaccount pricing data
   * @return PricingFull
  */
  public PricingFull createAccountSubaccountPricing (Integer accountId, Integer subaccountId, CreatePricingParams data) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = data;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createAccountSubaccountPricing"));
    }
    // verify the required parameter 'subaccountId' is set
    if (subaccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subaccountId' when calling createAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'subaccountId' when calling createAccountSubaccountPricing"));
    }
    // verify the required parameter 'data' is set
    if (data == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'data' when calling createAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'data' when calling createAccountSubaccountPricing"));
    }

    // create path and map variables
    String path = "/accounts/{account_id}/subaccounts/{subaccount_id}/pricing".replaceAll("\\{" + "account_id" + "\\}", apiInvoker.escapeString(accountId.toString())).replaceAll("\\{" + "subaccount_id" + "\\}", apiInvoker.escapeString(subaccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "apiKey" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (PricingFull) ApiInvoker.deserialize(localVarResponse, "", PricingFull.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Add a pricing plan to a subaccount.
   * Add a pricing plan to a subaccount. See Account Subaccount Pricing for more info on the properties.
   * @param accountId Account ID   * @param subaccountId Subaccount ID   * @param data Subaccount pricing data
  */
  public void createAccountSubaccountPricing (Integer accountId, Integer subaccountId, CreatePricingParams data, final Response.Listener<PricingFull> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = data;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createAccountSubaccountPricing"));
    }
    // verify the required parameter 'subaccountId' is set
    if (subaccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subaccountId' when calling createAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'subaccountId' when calling createAccountSubaccountPricing"));
    }
    // verify the required parameter 'data' is set
    if (data == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'data' when calling createAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'data' when calling createAccountSubaccountPricing"));
    }

    // create path and map variables
    String path = "/accounts/{account_id}/subaccounts/{subaccount_id}/pricing".replaceAll("\\{format\\}","json").replaceAll("\\{" + "account_id" + "\\}", apiInvoker.escapeString(accountId.toString())).replaceAll("\\{" + "subaccount_id" + "\\}", apiInvoker.escapeString(subaccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "apiKey" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((PricingFull) ApiInvoker.deserialize(localVarResponse,  "", PricingFull.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete a pricing plan from a subaccount.
  * Delete a pricing plan from a subaccount. See Account Subaccount Pricing for more info on the properties.
   * @param accountId Account ID
   * @param subaccountId Subaccount ID
   * @param pricingId Pricing Object ID
   * @return DeleteEntry
  */
  public DeleteEntry deleteAccountSubaccountPricing (Integer accountId, Integer subaccountId, Integer pricingId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteAccountSubaccountPricing"));
    }
    // verify the required parameter 'subaccountId' is set
    if (subaccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subaccountId' when calling deleteAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'subaccountId' when calling deleteAccountSubaccountPricing"));
    }
    // verify the required parameter 'pricingId' is set
    if (pricingId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pricingId' when calling deleteAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'pricingId' when calling deleteAccountSubaccountPricing"));
    }

    // create path and map variables
    String path = "/accounts/{account_id}/subaccounts/{subaccount_id}/pricing/{pricing_id}".replaceAll("\\{" + "account_id" + "\\}", apiInvoker.escapeString(accountId.toString())).replaceAll("\\{" + "subaccount_id" + "\\}", apiInvoker.escapeString(subaccountId.toString())).replaceAll("\\{" + "pricing_id" + "\\}", apiInvoker.escapeString(pricingId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "apiKey" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (DeleteEntry) ApiInvoker.deserialize(localVarResponse, "", DeleteEntry.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete a pricing plan from a subaccount.
   * Delete a pricing plan from a subaccount. See Account Subaccount Pricing for more info on the properties.
   * @param accountId Account ID   * @param subaccountId Subaccount ID   * @param pricingId Pricing Object ID
  */
  public void deleteAccountSubaccountPricing (Integer accountId, Integer subaccountId, Integer pricingId, final Response.Listener<DeleteEntry> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteAccountSubaccountPricing"));
    }
    // verify the required parameter 'subaccountId' is set
    if (subaccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subaccountId' when calling deleteAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'subaccountId' when calling deleteAccountSubaccountPricing"));
    }
    // verify the required parameter 'pricingId' is set
    if (pricingId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pricingId' when calling deleteAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'pricingId' when calling deleteAccountSubaccountPricing"));
    }

    // create path and map variables
    String path = "/accounts/{account_id}/subaccounts/{subaccount_id}/pricing/{pricing_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "account_id" + "\\}", apiInvoker.escapeString(accountId.toString())).replaceAll("\\{" + "subaccount_id" + "\\}", apiInvoker.escapeString(subaccountId.toString())).replaceAll("\\{" + "pricing_id" + "\\}", apiInvoker.escapeString(pricingId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "apiKey" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((DeleteEntry) ApiInvoker.deserialize(localVarResponse,  "", DeleteEntry.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get the details of a pricing plan for a subaccount.
  * Get the details of a pricing plan for a subaccount. See Account Subaccount Pricing for more info on the properties.
   * @param accountId Account ID
   * @param subaccountId Subaccount ID
   * @param pricingId Pricing Object ID
   * @return PricingFull
  */
  public PricingFull getAccountSubaccountPricing (Integer accountId, Integer subaccountId, Integer pricingId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getAccountSubaccountPricing"));
    }
    // verify the required parameter 'subaccountId' is set
    if (subaccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subaccountId' when calling getAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'subaccountId' when calling getAccountSubaccountPricing"));
    }
    // verify the required parameter 'pricingId' is set
    if (pricingId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pricingId' when calling getAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'pricingId' when calling getAccountSubaccountPricing"));
    }

    // create path and map variables
    String path = "/accounts/{account_id}/subaccounts/{subaccount_id}/pricing/{pricing_id}".replaceAll("\\{" + "account_id" + "\\}", apiInvoker.escapeString(accountId.toString())).replaceAll("\\{" + "subaccount_id" + "\\}", apiInvoker.escapeString(subaccountId.toString())).replaceAll("\\{" + "pricing_id" + "\\}", apiInvoker.escapeString(pricingId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "apiKey" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (PricingFull) ApiInvoker.deserialize(localVarResponse, "", PricingFull.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get the details of a pricing plan for a subaccount.
   * Get the details of a pricing plan for a subaccount. See Account Subaccount Pricing for more info on the properties.
   * @param accountId Account ID   * @param subaccountId Subaccount ID   * @param pricingId Pricing Object ID
  */
  public void getAccountSubaccountPricing (Integer accountId, Integer subaccountId, Integer pricingId, final Response.Listener<PricingFull> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getAccountSubaccountPricing"));
    }
    // verify the required parameter 'subaccountId' is set
    if (subaccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subaccountId' when calling getAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'subaccountId' when calling getAccountSubaccountPricing"));
    }
    // verify the required parameter 'pricingId' is set
    if (pricingId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pricingId' when calling getAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'pricingId' when calling getAccountSubaccountPricing"));
    }

    // create path and map variables
    String path = "/accounts/{account_id}/subaccounts/{subaccount_id}/pricing/{pricing_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "account_id" + "\\}", apiInvoker.escapeString(accountId.toString())).replaceAll("\\{" + "subaccount_id" + "\\}", apiInvoker.escapeString(subaccountId.toString())).replaceAll("\\{" + "pricing_id" + "\\}", apiInvoker.escapeString(pricingId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "apiKey" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((PricingFull) ApiInvoker.deserialize(localVarResponse,  "", PricingFull.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get a list of pricing plans for a subaccount.
  * Get a list of pricing plans for a subaccount. See Account Subaccount Pricing for more info on the properties.
   * @param accountId Account ID
   * @param subaccountId Subaccount ID
   * @param filtersId ID filter
   * @param sortId ID sorting
   * @param limit Max results
   * @param offset Results to skip
   * @param fields Field set
   * @return ListPricings
  */
  public ListPricings listAccountSubaccountPricing (Integer accountId, Integer subaccountId, List<String> filtersId, String sortId, Integer limit, Integer offset, String fields) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling listAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling listAccountSubaccountPricing"));
    }
    // verify the required parameter 'subaccountId' is set
    if (subaccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subaccountId' when calling listAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'subaccountId' when calling listAccountSubaccountPricing"));
    }

    // create path and map variables
    String path = "/accounts/{account_id}/subaccounts/{subaccount_id}/pricing".replaceAll("\\{" + "account_id" + "\\}", apiInvoker.escapeString(accountId.toString())).replaceAll("\\{" + "subaccount_id" + "\\}", apiInvoker.escapeString(subaccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "filters[id]", filtersId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort[id]", sortId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offset", offset));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "fields", fields));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "apiKey" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListPricings) ApiInvoker.deserialize(localVarResponse, "", ListPricings.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get a list of pricing plans for a subaccount.
   * Get a list of pricing plans for a subaccount. See Account Subaccount Pricing for more info on the properties.
   * @param accountId Account ID   * @param subaccountId Subaccount ID   * @param filtersId ID filter   * @param sortId ID sorting   * @param limit Max results   * @param offset Results to skip   * @param fields Field set
  */
  public void listAccountSubaccountPricing (Integer accountId, Integer subaccountId, List<String> filtersId, String sortId, Integer limit, Integer offset, String fields, final Response.Listener<ListPricings> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling listAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling listAccountSubaccountPricing"));
    }
    // verify the required parameter 'subaccountId' is set
    if (subaccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subaccountId' when calling listAccountSubaccountPricing",
        new ApiException(400, "Missing the required parameter 'subaccountId' when calling listAccountSubaccountPricing"));
    }

    // create path and map variables
    String path = "/accounts/{account_id}/subaccounts/{subaccount_id}/pricing".replaceAll("\\{format\\}","json").replaceAll("\\{" + "account_id" + "\\}", apiInvoker.escapeString(accountId.toString())).replaceAll("\\{" + "subaccount_id" + "\\}", apiInvoker.escapeString(subaccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "filters[id]", filtersId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort[id]", sortId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offset", offset));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "fields", fields));


    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "apiKey" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListPricings) ApiInvoker.deserialize(localVarResponse,  "", ListPricings.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
